<!DOCTYPE html>
<html>
<head>
<title>Offer Letter !!!</title>
</head>
<body>
	<h1>Print Offer Letter</h1>
	<form action="./submit" method="post">
		<input  type="text" name="empname" placeholder="Employee Name" required="required"> 
		<input  type="email" name="empmail" placeholder="Employee Email" required="required"> 
		<input 	type="text" name="designation" placeholder="Designation" required="required">
		<input 	type="text" name="salaryamt" placeholder="Salary Amount" required="required">
		<BR>Joining Date : <input 	type="date" name="joiningdate" required="required"> 
		<BR><BR><textarea  name="cmpname" cols="50" required="required">Test Yantra Software Solutions India Pvt. Ltd.</textarea> 
		<BR><input 	type="text" name="hiringmgr" placeholder="Hiring Manager" required="required"> 
		<input 	type="text" name="hiringmgrdesig" placeholder="Hiring Manager Designation" required="required">
		<input  type="email" name="hiringmgrmail" placeholder="Hiring Manager Email" required="required"> 
		<BR>Hiring Date : <input 	type="date" name="hiringdate" placeholder="Hiring Date" required="required">
		<BR><BR><input	type="submit" value="Generate Offer Letter">
	</form>
</body>
</html>